@use '@angular/material' as mat;
@use '../../../libs/shared-styles/_theme-colors' as app;
@use '../../../libs/shared-styles/material-styles';
@use '../../../libs/shared-styles/custom-styles';
@use '../../../libs/shared-styles/ng-select-custom';
@import url('tailwindcss');

// Angular material theme variables
// https://material.angular.dev/guide/system-variables

$app-font: 'Inter', sans-serif;

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: app.$primary-palette,
      tertiary: app.$tertiary-palette,
    ),
    typography: (
      plain-family: $app-font,
      brand-family: $app-font,
    ),
  )
);

// 3. DEFINE THE DARK THEME
// We reuse the SAME palettes. Material automatically flips the colors.
$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: app.$primary-palette,
      tertiary: app.$tertiary-palette,
    ),
    typography: (
      plain-family: $app-font,
      brand-family: $app-font,
    ),
  )
);

html {
  @include mat.all-component-themes($light-theme);
  @include mat.system-level-colors($light-theme);
  @include mat.system-level-typography($light-theme);

  font-family: $app-font;
  font-feature-settings: 'cv11', 'salt'; // specific for inter font
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

html.dark-theme {
  @include mat.all-component-colors($dark-theme);
  @include mat.system-level-colors($dark-theme);
}

body {
  margin: 0;
}

//NOTIFICATION STYLES
.success-snackbar-container .mdc-snackbar__surface {
  background-color: #4caf50 !important;
  color: white !important;
  border-radius: 1em !important;
}

.error-snackbar-container .mdc-snackbar__surface {
  @include mat.all-component-colors($light-theme);
  @include mat.system-level-colors($light-theme);
  background-color: var(--mat-sys-error) !important;
  color: white !important;
  border-radius: 1em !important;
}

.warning-snackbar-container .mdc-snackbar__surface {
  background-color: #ff9800 !important;
  color: white !important;
  border-radius: 1em !important;
}

.info-snackbar-container .mdc-snackbar__surface {
  @include mat.all-component-colors($light-theme);
  @include mat.system-level-colors($light-theme);
  background-color: var(--mat-sys-tertiary) !important;
  color: white !important;
  border-radius: 1em !important;
}
