.mat-sidenav {
  border-radius: 0;
}
// Specific fix for aligning the icon in the close sidenav button
.mat-mdc-icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
