:host {
  display: block;
  height: 100%;
  background-color: var(--mat-sys-surface-container);
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.user-profile-content {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-right: 12px;
  box-shadow: var(--mat-sys-level1);
}

.username {
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-list {
  //flex-grow: 1;
  overflow-y: auto;
  padding: 10px 10px 0;
}

.add-project-action {
  padding: 16px;
}
