@import "tailwindcss";

.plan-card {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem !important;
  @apply shadow-lg;
}

.supporter-card {
  border: 1px solid var(--mat-sys-primary);
}

.price-section {
  display: flex;
  align-items: baseline;
  margin-top: 16px;
}

.features-list {
  list-style: none;
  padding: 0;
  margin: 24px 0;
  text-align: left;

  li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    mat-icon {
      color: #4caf50;
      margin-right: 12px;
    }
  }
}

.card-actions {
  margin-top: auto;
  padding: 0 !important;
}

// faq section styles
.faq-section {
  .mat-expansion-panel {
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px !important;
    background-color: white !important;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  .mat-expansion-panel-header {
    font-weight: 500;
  }
}
