.example-spacer {
  flex: 1 1 auto;
}

.drop-down {
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: var(--mat-sys-surface);
}

.divider::after {
  content: none;
}

.drop-down-button {
  width: 100%;
}
