<mat-toolbar>
  <div class="ml-4" *ngIf="isMobileView()"></div>
  <button matButton="tonal" routerLink="/" class="logo-button mr-2">
    <mat-icon>task_alt</mat-icon>
    <span>Material Todo</span>
  </button>

  @if (isMobileView()) {
  <span class="example-spacer"></span>
  <button mat-icon-button class="mr-4" (click)="toggleDropdown()">
    <mat-icon>{{ menu_icon() }}</mat-icon>
  </button>

  }@else {
  <a mat-button routerLink="/pricing" class="mr-2">Pricing</a>
  <a mat-button routerLink="/download" class="mr-2">Download</a>
  <a mat-button routerLink="/about" class="mr-2">About</a>

  <span class="example-spacer"></span>

  <button matButton="filled" class="mr-2" routerLink="/signup">
    Start for free
  </button>
  <button mat-button routerLink="/login">
    Login
    <mat-icon>login</mat-icon>
  </button>
  }
</mat-toolbar>
@if (isMobileView()){
<div
  class="drop-down"
  [@dropdownAnimation]="showDropdown() ? 'open' : 'closed'"
>
  <button
    matButton
    routerLink="/pricing"
    class="drop-down-button mb-3"
    (click)="toggleDropdown()"
  >
    Pricing
  </button>
  <button
    matButton
    routerLink="/download"
    class="drop-down-button mb-3"
    (click)="toggleDropdown()"
  >
    Download
  </button>
  <button
    matButton
    routerLink="/about"
    class="drop-down-button mb-3"
    (click)="toggleDropdown()"
  >
    About
  </button>

  <div class="divider mb-5 mt-1"></div>

  <div class="flex justify-center">
    <button matButton="filled" class="mr-5" routerLink="/signup">
      Start for free
    </button>
    <button matButton="tonal" routerLink="/login">
      Login
      <mat-icon>login</mat-icon>
    </button>
  </div>
</div>
}
