<h2 class="mb-2 mt-6 font-bold">Personalization</h2>
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-subtitle>Customize the look and feel of the application.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="mt-4 mr-4" subscriptSizing="dynamic">
      <mat-label>Theme Color</mat-label>
      <mat-select value="default">
        <mat-option value="default">Default Blue</mat-option>
        <mat-option value="indigo">Indigo</mat-option>
        <mat-option value="teal">Teal</mat-option>
        <mat-option value="rose">Rose</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="mt-4" subscriptSizing="dynamic">
      <mat-label>Time Zone</mat-label>
      <mat-select>
        <mat-option value="Europe/Kyiv">Kyiv (UTC+3)</mat-option>
        <mat-option value="America/New_York">New York (UTC-4)</mat-option>
        <mat-option value="Asia/Tokyo">Tokyo (UTC+9)</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
</mat-card>

