<div class="settings-container  mt-20">
  <header class="settings-header">
    <h1 class="text-3xl font-bold mb-4">Settings</h1>
    <p class="text-lg text-gray-500 mb-2">Manage your account and application preferences.</p>
  </header>

  <div class="settings-content pb-8">

    <profile-form-settings
      [userProfile]="this.userService.currentUserProfile$ | async"
      [isEmailEditable]="this.userService.isEmailEditable()"
      (profileUpdate)="updateProfile($event)">
    </profile-form-settings>
        <password-management-settings></password-management-settings>
        <notifications-settings></notifications-settings>
        <personalization-settings></personalization-settings>
        <danger-zone-settings></danger-zone-settings>
  </div>
</div>
