<div class="todo-list-container mt-20">
  <header class="list-header">
    <h1 class="text-3xl font-bold">Tasks</h1>
    <button matIconButton color="warn" aria-label="Delete Project" (click)="deleteProject()">
      <mat-icon>delete</mat-icon>
    </button>
  </header>

  <div class="add-todo-container">
    @if (projectId$ | async; as projectId) {
    <app-add-todo [projectId]="projectId"></app-add-todo>
    }
  </div>
  <div class="tasks-scroll-container">
    @if (todos$ | async; as todos) { @if (todos.length > 0) { @for (todo of todos; track todo.id) {
    <app-todo-item [todo]="todo" (update)="updateTodo($event)" (delete)="deleteTodo($event)">
    </app-todo-item>
    } } @else {
    <div class="empty-state">
      <p>All tasks completed. Well done!</p>
    </div>
    } } @else {
    <div class="loading-state">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
    }
  </div>
</div>
