<h2 class="mb-2 mt-6 font-bold">Data</h2>
<mat-card appearance="outlined">
  <mat-card-content>
    <div class="flex items-center justify-between pb-4">
      <div>
        <p class="font-medium">Clear All Data</p>
        <p class="text-sm text-gray-500">Remove all your projects and tasks.</p>
      </div>
      <button mat-stroked-button color="warn">Clear Data</button>
    </div>
    <mat-divider></mat-divider>
    <div class="flex items-center justify-between pt-4">
      <div>
        <p class="font-medium">Export Data</p>
        <p class="text-sm text-gray-500">Download a JSON file of all your data.</p>
      </div>
      <button mat-stroked-button>Export</button>
    </div>
  </mat-card-content>
</mat-card>

