<div class="snackbar-container" [ngClass]="data.type">
  <div class="icon-container">
    @if (data.type === 'success') {
    <mat-icon>check_circle</mat-icon>
    } @if (data.type === 'error') {
    <mat-icon>error</mat-icon>
    } @if (data.type === 'info') {
    <mat-icon>chat</mat-icon>
    } @if (data.type === 'warning') {
    <mat-icon>warning</mat-icon>
    }
  </div>

  <div class="text-container">
    <strong class="title">{{ data.title }}</strong>
    <p class="message">{{ data.message }}</p>
  </div>

  <div class="action-container">
    <button mat-icon-button (click)="dismiss()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
