.main-container {
  background-color: var(--mat-sys-secondary-container);
}

.signup-form {
  background-color: var(--mat-sys-surface-container);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  border-radius: 1rem;
  padding: 3rem 2rem 3rem 2rem;
  box-shadow: var(--mat-sys-level1);
}

.link-button {
  :hover {
    color: var(--mat-sys-secondary);;
  }
}
