.social-links {
  a {
    transform: scale(1.2);
    margin-right: 8px;
  }
}

.journey-card {
  padding: 3rem 2rem;
  box-shadow: var(--mat-sys-level1);
  background-color: var(--mat-sys-surface-container);
}

.journey-icon {
  transform: scale(3);
  height: 30px;
  color: var(--mat-sys-primary);
}

.team-section {
  background-color: var(--mat-sys-surface-container-low);
}

.mat-mdc-mini-fab {
  box-shadow: none !important;
  background-color: transparent !important;
}

img {
  box-shadow: var(--mat-sys-level1);
}
