// Стилі для секцій
.hero-section,
.journey-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 95vh; // Робить головний екран високим
}

.journey-section {
  min-height: 50vh;
}

.feature-section {
  background-color: var(--color-gray-50);
  min-height: 50vh;
}

// Стилі для кнопок заклику до дії
.cta-button {
  margin: 8px;
  padding: 18px 32px !important;
  font-size: 16px !important;
  border-radius: 28px !important;
}

.github-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.mat-icon {
  height: 1.5em;
}

.feature-item {
  padding: 16px;
}

.feature-icon {
  transform: scale(1.3);
  height: 64px;
  width: 64px;
  font-size: 64px;
  margin: 2rem 0;
  color: var(--mat-sys-primary);
}
