<h2 class="mb-2 mt-6 font-bold">Personalization</h2>
<mat-card appearance="outlined">
  <mat-card-content>
    <div class="flex flex-col">
      <mat-card-subtitle>Change Theme</mat-card-subtitle>
      <ng-select
        class="mt-4 mb-4 w-100"
        [items]="themes"
        [formControl]="themeControl"
        [placeholder]="'Select Theme'"
        [clearable]="false"
        [searchable]="false"
      >
      </ng-select>

      <mat-card-subtitle>Change Time Zone</mat-card-subtitle>
      <timezone-selector class="w-120 mt-4 mb-2"></timezone-selector>
    </div>
  </mat-card-content>
</mat-card>
