<h2 class="mb-2 mt-6 font-bold">Personalization</h2>
<mat-card appearance="outlined">
  <mat-card-content>
    <div class="flex flex-col w-md">

      <mat-card-subtitle>Change Theme</mat-card-subtitle>
      <ng-select class="mt-4 mb-4" [placeholder]="'Default'">
        <ng-option>Default</ng-option>
      </ng-select>


      <mat-card-subtitle>Change Time Zone</mat-card-subtitle>
    <timezone-selector class="w-100 mt-4 mb-2"></timezone-selector>
    </div>
  </mat-card-content>
</mat-card>
