.add-todo-form {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
}

.task-input {
  flex-grow: 1;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1em;
  padding: 10px 0;

  &::placeholder {
    color: #999;
  }
}

.action-buttons {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
}
