.plan-card {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem !important;
  background-color: var(--mat-sys-surface-container-high);
  box-shadow: var(--mat-sys-level2);
}

.supporter-card {
  border: 2px solid var(--mat-sys-primary);
  background-color: var(--mat-sys-primary-container);
}

.price-section {
  display: flex;
  align-items: baseline;
  margin-top: 16px;
}

.features-list {
  list-style: none;
  padding: 0;
  margin: 24px 0;
  text-align: left;

  li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    mat-icon {
      color: var(--mat-sys-tertiary);
      margin-right: 12px;
    }
  }
}

.card-actions {
  margin-top: auto;
  padding: 0 !important;
}

// faq section styles
.faq-section {
  background-color: var(--mat-sys-surface-container-low);

  .mat-expansion-panel {
    box-shadow: none !important;
    border: 1px solid var(--mat-sys-outline-variant);
    border-radius: 8px !important;
    background-color: var(--mat-sys-surface-container);

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  .mat-expansion-panel-header {
    font-weight: 500;
  }
}
