<div class="snackbar-container" [ngClass]="data.type">
  <div class="icon-container">
    <mat-icon *ngIf="data.type === 'success'">check_circle</mat-icon>
    <mat-icon *ngIf="data.type === 'error'">error</mat-icon>
    <mat-icon *ngIf="data.type === 'info'">chat</mat-icon>
    <mat-icon *ngIf="data.type === 'warning'">warning</mat-icon>
  </div>

  <div class="text-container">
    <strong class="title">{{ data.title }}</strong>
    <p class="message">{{ data.message }}</p>
  </div>
  
  <div class="action-container">
    <button mat-icon-button (click)="dismiss()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
