.snackbar-container {
  display: flex;
  align-items: center;
}

.icon-container {
  margin-right: 12px;
  display: flex;
  align-items: center;
}

.text-container {
  flex-grow: 1; // Займає весь доступний простір
}

.title {
  margin-bottom: 4px;
}

.message {
  margin: 0;
  font-size: 0.9em;
}

.action-container {
  margin-left: 16px;

  button {
    color: white; // Робимо іконку закриття білою
  }
}
