<div class="p-4">
<h2 mat-dialog-title>{{ data.title || "Enter password" }}</h2>
<mat-dialog-content>
  <p class="pb-2">{{ data.message || ''}}</p>
  <mat-form-field appearance="outline" class="w-full">
    <input matInput
           type="password"
           [(ngModel)]="returnString"
           #passwordInput="ngModel"
           cdkFocusInitial
           (keydown.enter)="onSubmit()"
           required
           minlength="6"
           pattern="^\S+$">
    <mat-icon matSuffix>lock</mat-icon>
    @if (passwordInput.invalid && passwordInput.touched) {
      <mat-error>
        @if (passwordInput.errors?.['required']) {
          Password is required
        }
        @if (passwordInput.errors?.['minlength']) {
          Password must be at least 6 characters
        }
        @if (passwordInput.errors?.['pattern']) {
          Password cannot contain spaces
        }
      </mat-error>
    }
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button matButton (click)="onCancel()">Cancel</button>
  <button matButton="filled" (click)="onSubmit()" [disabled]="!isPasswordValid()">
    Submit
  </button>
</mat-dialog-actions>
</div>
